.w3-card-2.w3-round.w3-white
  .w3-container.w3-padding
    h6.w3-opacity Social Media template by w3.css
    p.w3-border.w3-padding(contenteditable="true") Status: Feeling Blue
    button.w3-btn.w3-theme(type="button")
       i.fa.fa-pencil
       | Post

.w3-container.w3-card-2.w3-white.w3-round.w3-margin
  br/
  img.w3-left.w3-circle.w3-margin-right(src="/img/avatar2.png", alt="Avatar", style="width:60px")
  span.w3-right.w3-opacity 1 min
  h4 John Doe
  br/
  hr.w3-clear
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .w3-row-padding(style="margin:0 -16px")
    .w3-half
      img.w3-margin-bottom(src="/img/lights.jpg", style="width:100%", alt="Northern Lights")
    .w3-half
      img.w3-margin-bottom(src="/img/nature.jpg", style="width:100%", alt="Northern Lights")
  button.w3-btn.w3-theme-d1.w3-margin-bottom(type="button") <i class="fa fa-thumbs-up"></i>  Like
  button.w3-btn.w3-theme-d2.w3-margin-bottom(type="button") <i class="fa fa-comment"></i>  Comment

.w3-container.w3-card-2.w3-white.w3-round.w3-margin
  br
  img.w3-left.w3-circle.w3-margin-right(src="/img/avatar5.png", alt="Avatar", style="width:60px")
  span.w3-right.w3-opacity 16 min
  h4 Jane Doe
  br
  hr.w3-clear
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  button.w3-btn.w3-theme-d1.w3-margin-bottom(type="button") <i class="fa fa-thumbs-up"></i>  Like</button>
  button.w3-btn.w3-theme-d2.w3-margin-bottom(type="button") <i class="fa fa-comment"></i>  Comment</button>

.w3-container.w3-card-2.w3-white.w3-round.w3-margin
  br
  img.w3-left.w3-circle.w3-margin-right(src="/img/avatar6.png", alt="Avatar", style="width:60px")
  span.w3-right.w3-opacity 32 min
  h4 Angie Jane
  br
  hr.w3-clear
  p Have you seen this?
  img.w3-margin-bottom(src="/img/nature.jpg", style="width:100%")
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  button.w3-btn.w3-theme-d1.w3-margin-bottom(type="button") <i class="fa fa-thumbs-up"></i>  Like</button>
  button.w3-btn.w3-theme-d2.w3-margin-bottom(type="button") <i class="fa fa-comment"></i>  Comment</button>

