doctype html
html
  head
    base(href=site.base)
    meta(name="viewport", content="width=device-width, initial-scale=1")/
    link(rel="stylesheet", href="/css/w3.css")/
    link(rel="stylesheet", href="/css/w3-theme-blue-grey.css")/
    link(rel="stylesheet", href="/css/open-sans.css")/
    link(rel="stylesheet", href="/css/font-awesome.min.css")/
    link(rel="stylesheet", href="/css/weather-icons.min.css")/
    link(rel="stylesheet", href="/css/visitas.css")/
    block styles
    title #{site.name}
  body.w3-theme-l5
    if (user)
      include ./layout-navbar.jade    
    // Page Container
    .w3-container.w3-content(style="max-width:1400px;margin-top:80px")
      // The Grid
      .w3-row
        // Left Column
        .w3-col.m3
          block left
          //End Left Column
        
        // Middle Column
        .w3-col.m7
          .w3-row-padding
            .w3-col.m12
              block middle
          // End Middle Column
        
        // Right Column
        .w3-col.m2
          block right
          // End Right Column
        
        // End Grid
      
      // End Page Container
    br/
    
    // Footer
    footer.w3-container.w3-theme-d3.w3-padding-16
      h5 Footer
    
    footer.w3-container.w3-theme-d5
      p Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    
    script.
      // Accordion
      function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          x.previousElementSibling.className += " w3-theme-d1";
        } else {
          x.className = x.className.replace("w3-show", "");
          x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
      }
      
      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }

    block scripts
