extends ./layout.jade

block middle
  form(method="post")
    input(type="text", name="username", placeholder="E-mail")
    input(type="password", name="password", placeholder="Senha")
    input(type="submit", value="Entrar")